body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

#imageContainer,
#debugContainer {
  padding: 1em;
  box-sizing: border-box;
}

.column {
  width: 48%;
  margin: .5%;
  border: 1px solid #000;
  vertical-align: top;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

#imageContainer {
  img {
    width: 100%;
  }
}

#debugContainer {
  p {
    margin: 0;
    padding: 0;
  }
}

//////////////////////////////////
.btn-succes {
  background-color: rgb(73, 224, 138);
  padding: 15px;
}

.canv_default {
  border: 1px dotted black;
  width: 300px;
  height: 350px;
}

.btn_nav {
  position: absolute;
  background-color: #ccc;
  padding: 5px;
  width: 20px;

  &-left {
    position: absolute;
    left: 4px;
    top: 50%;
  }
  &-right {
    position: absolute;
    right: 4px;
    top: 50%;
  }
  &-up {
    position: absolute;
    top: 4px;
    left: 50%;
  }
  &-down {
    position: absolute;
    bottom: 4px;
    left: 50%;
  }
}

.editor {
  position: relative;
  border: 1px solid black;
  width: 700px;
  height: 600px;
  padding: 32px;

}
.preview {
  background-color: #ccc;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
